/* 1. Importar fuentes de Google Fonts (opción en línea) */
/* Montserrat es la Fuente Principal/Cuerpo. Oswald es la Fuente Secundaria (Built Titling style). */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Montserrat:wght@400;700;800;900&display=swap');

/* 2. Configuración de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;